.thumbnail{
    padding :0px;
}
.thumbnail img{
    width: 100%;
}

.thumbnail .caption-full{
    padding:9px;
}

.delete-but{
    display:inline;
}
.fa , .far , .fas{
    font-size:100px;
}
.navbar-expand-md{
    background-color:#e3f2fd;
}